.review-body {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 
        'author author rating publish-date publish-date'
        'body body body body body';
    grid-gap: 10px;
    padding: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 1em;
    background-color: rgba(148, 196, 92, 0.54);
}

.review-body > div {
    text-align: center;
    font-family: "Century Gothic";
}

.rating { grid-area: rating; }
.author { 
    grid-area: author; font-size: 18px;
}
.body { grid-area: body; }
.publish-date {
    grid-area: publish-date; 
}

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';